@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Hesap Oluşturunuz</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="txtFullName"
                                               placeholder="Ad Soyad">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="txtUserName"
                                               placeholder="Kullanıcı Adı">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="txtEmail" 
                                           placeholder="E-Posta">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               id="txtPassword" placeholder="Parola">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               id="txtPasswordConfirm" placeholder="Parola Tekrar">
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-user btn-block" id="btnRegister">Kayıt Ol</button>
                               
                                <hr>
                                
                                
                            </form>
                            <hr>
                            <div id="divResult"></div>
                            <div class="text-center">
                                <a class="small" href="/Login">Zaten hesabınız var mı? Oturum Aç!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>

</body>

</html>


@section Scripts{

                <script>
                    //Anket ajax
                    $(document).ready(function () {
                        var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
                        
                        
                        $("#btnRegister").click(function () {
                            var fullName = $("#txtFullName").val();
                            var userName = $("#txtUserName").val();
                            var email = $("#txtEmail").val();
                            var password = $("#txtPassword").val();
                            var passwordConfirm = $("#txtPasswordConfirm").val();
                            
                            var user = new Object();
                            user.FullName = fullName;
                            user.UserName = userName;
                            user.Email = email;
                            user.Password = password;
                            user.PasswordConfirm = passwordConfirm;
                            

                            $.ajax({
                                url: ApiBaseUrl + "User/Add",
                                method: "POST",
                                data: JSON.stringify(user),
                                contentType: "application/json",
                                success: function (data) {
                                    $("#result").show();
                                    if (data.status) {
                                    localStorage.setItem("token", data.message);
                                        location.href = "/Home";
                                    } else {
                                    $("#result")
                                        .show()
                                        .removeClass()
                                        .addClass("alert alert-danger")
                                        .html(data.message)
                                        .fadeOut(3000);

                                    }
                                    },
                                error: function () { }
                            });

                        });
                        

                            $("#btnLogin").click(function () {
                               

                                    location.href = "Login";
                                

                            });
  
                        
                    });



                </script>
}
